@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('./scrollbar.css');

*{
    font-family: 'Roboto';
}

hr{
    border: 1px solid rgba(100, 100, 100, 0.5);
}

body{
    margin: 0;
    padding: 0;
    border: 0;
}

main#background{
    position: absolute;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: black;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

nav#dock-bar{
    position: fixed;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 8px;
    box-sizing: border-box;
    backdrop-filter: blur(25px);
    z-index: 10;
    transition: 0.25s;
}

nav#dock-bar button,
nav#dock-bar a{
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
    color: white;
}

nav#dock-bar button:hover,
nav#dock-bar a:hover{
    background-color: white;
    color: black;
}

nav#dock-bar button svg,
nav#dock-bar a svg{
    width: 24px;
    height: 24px;
}

nav#dock-bar a{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.top-dock{
    top: 8px;
    height: 64px;
    width: 90vw;
    transform: translateX(-50%);
    left: 50%;
}

.top-dock.dock-hide{
    top: calc(0px - 64px) !important;
}

.bottom-dock{
    top: calc(100% - 64px - 8px);
    height: 64px;
    width: 90vw;
    transform: translateX(-50%);
    left: 50%;
}

.bottom-dock.dock-hide{
    top: 100% !important;
}

.left-dock{
    left: 8px;
    height: 90vh;
    width: 64px;
    transform: translateY(-50%);
    top: 50%;
}

.right-dock{
    left: calc(100% - 64px - 8px);
    height: 90vh;
    width: 64px;
    transform: translateY(-50%);
    top: 50%;
}

.top-dock .dock-buttons,
.top-dock .dock-time,
.bottom-dock .dock-buttons,
.bottom-dock .dock-time{
    float: left;
    height: 64px;
}

.top-dock .dock-buttons,
.bottom-dock .dock-buttons{
    display: flex;
    width: 70%;
    justify-content: left;
}

.top-dock .dock-time,
.bottom-dock .dock-time{
    width: 30%;
}

.top-dock .dock-buttons button,
.bottom-dock .dock-buttons button,
.top-dock .dock-buttons a,
.bottom-dock .dock-buttons a{
    width: 100%;
}

.top-dock .dock-time button,
.bottom-dock .dock-time button{
    width: 100%;
    height: 64px;
    font-size: 16px;
}

.left-dock .dock-buttons,
.left-dock .dock-time,
.right-dock .dock-buttons,
.right-dock .dock-time{
    display: block;
    height: 64px;
}

.left-dock .dock-buttons,
.right-dock .dock-buttons{
    width: 100%;
    height: 70%;
}

.left-dock .dock-time,
.right-dock .dock-time{
    height: 30%;
}

.left-dock .dock-buttons button,
.right-dock .dock-buttons button,
.left-dock .dock-buttons a,
.right-dock .dock-buttons a{
    display: block;
    width: 100%;
    height: 25%;
}

.left-dock .dock-time button,
.right-dock .dock-time button{
    width: 100%;
    height: 100%;
    font-size: 12px;
}

.window{
    overflow-y: scroll;
}
